<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>生日</td>
        </tr>

        <tr th:each="person:${personList}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.pName}"></td>
            <td th:text="${person.sex}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${#dates.format(person.birthDay,'yyyy-MM-dd')}"></td>
        </tr>


    </table>

</body>
</html>